header {

}

header nav {
    margin-left: 60px;
}

header nav ul {

}

header nav ul li {

}

header nav ul li a {
        line-height: 30px;
        color: grey;
        text-transform: uppercase;
}